<html lang="pt-br">
	<head>
		<title>EventStarter</title>
		<link rel="stylesheet"  type="text/css" href="" />
	</head>
	<body>
		<header>
			<nav>
				<a href="{% url 'basic:index' %}">{% block title %} EventStarter {% endblock %}</a>  |

				{% if user.is_anonymous %}
				<a href="{% url 'basic:user_new' %}">Sign Up</a> |
				<a href="{% url 'django.contrib.auth.views.login' %}">Log In</a>
				{% else %}
				{{ user }} |
				<a href="#">Meus Eventos</a>
				<a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
				{% endif %}
			</nav>
		</header>
		{% if registered %}
			<ul class="messages">
				<li class="success">
					<p>Usuário cadastrado com sucesso!</p>
					<p>Um email foi enviado para sua caixa postal.</p>
				</li>
			</ul>
		{% endif %}
		{% block content %}{% endblock %}
	</body>
</html>
