{% extends "basic/base.html" %}
{% block content %}

	<h1>Lista de Eventos</h1>
	<ul>
	{% for event in object_list %}
	<li><a href="{% url 'basic:detail_event' event.id %}">{{ event }}</a></li>	
	{% endfor %}
	</ul>
{% endblock %}
