{% extends "basic/base.html" %}
{% block content %}
	<h1> {{ object.name }}</h1>

	<p>Dono do evento: {{ object.user_profile }}</p>
	<p>Descrição: {{ object.description }} </p>
	<p>Data Início: {{ object.start_time }}</p>
	<p>Local: {{ object.location }}</p>
	<p>Orçamento: {{ object.full_amount }}</p>
	<p>Doação: {{ object.amount_donated }}</p>
	<p>Convidados:
		<ul>
		{% for guest in object.guest_set.all %}
			<li> {{ guest }} </li>	
		{% endfor %}
		</ul>
	</p>
{% endblock %}
