{% extends "basic/base.html" %}
{% block content %}
		<main>
			<h1>Seu evento começa aqui</h1>
			<p><a>Crie um evento</a> ou <a href="{% url 'basic:list_events' %}">explore os eventos que queira ir.</a></p>
		</main>
{% endblock %}
