{% extends 'basic/base.html' %}
{% block content %}
{% if form %}
	<h1>Sign Up</h1>
	<form method="post" action="{% url 'basic:user_new' %}">
	{% csrf_token %}
	{{ form.as_p }}
	<input id="save_user" type="submit" value="Save" />
	</form>
{% endif %}
{% endblock %}
